{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🆙</text></svg>">
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'styles/account-layout.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <main>
        <div class="navbar">
          <a href="{% url 'uplink:index' %}"><h1>&#127385; Uplink</h1></a>
          <a href="{% url 'uplink:logout' %}">Log Out</a>
        </div>
        {% block body %} {% endblock %}
      </main>
    </div>
  </body>
</html>
