{% extends "account-layout.html" %}
{% load static %}

{% block title %}
Account
{% endblock %}

{% block body %}
<div class="welcome">
    <h2>Welcome {{ username }}!</h2>
    <div>
        <span>Your Uplink is live: uplink/{{ username }}</span>
        <span>Share your profile to your socials</span>
        <span class="share-button" data-link="{{ username }}">Copy URL</span>
    </div>
</div>

<div class="section">
    <a class="card" href="{% url 'uplink:edit_profile' %}">
        <span>Edit Profile</span>
        <span>Update your profile information</span>
    </a>
    <a class="card" href="{% url 'uplink:manage_links' %}">
        <span>Manage Links</span>
        <span>Customize your Uplink</span>
    </a>
</div>
<script src="{% static 'js/share.js' %}"></script>
{% endblock %}