{% extends "layout.html" %}
{% load static %}

{% block title %}
Uplink
{% endblock %}

{% block stylesheet %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
  <div class="section">
    <div class="card">
      <h2 class="lead">Streamline Your Online Presence. <br> One Link, Countless Possibilities.</h2>
    </div>
    <div class="card"><img src="{% static 'images/link.png' %}"></div>
  </div>
  <div class="section section-reversed">
    <div class="card">
      <div class="input-area">
        <div class="input-wrapper">
          <p><label for="username">uplink/</label></p>
          <p><input name="username" id="username" placeholder="yourname"></p>
        </div>
        <a class="button-wrapper" href="{% url 'uplink:signup' %}">Get Started</a>
      </div>
    </div>
    <div class="card">
      <span class="lead">Get started in seconds and unlock the full potential of your links!</span>
    </div>
  </div>
  <div class="section section-full">
    <div class="card">
      <h3>Features</h3>
      <div class="feature">
        <h3>&#10024; Customize Your Profile</h3>
        <p>Customize your profile with a unique username, profile picture, and bio. Add your social media links, website, and more to your profile.</p>
      </div>
      <div class="feature">
        <h3>&#10024; Track Your Links</h3>
        <p>Track your links and see how many people are clicking on them. Uplink provides you with detailed analytics to help you understand your audience.</p>
      </div>
      <div class="feature">
        <h3>&#10024; Share Your Content</h3>
        <p>Share your content with your audience. Whether you’re a creator, business owner, or influencer, Uplink makes it easy to share your content with your audience.</p>
      </div>
    </div>
  </div>
{% endblock %}