{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🆙</text></svg>">
    <link href="{% static 'styles/layout.css' %}" rel="stylesheet" />
    {% block stylesheet %} {% endblock %}
  </head>
  <body>
    <div class="container">
      <header>
        <a href="{% url 'uplink:index' %}" class="header-logo"><h1>&#127385; Uplink</h1></a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'uplink:account' %}" class="header-item">Account</a>
        {% else %}
        <a href="{% url 'uplink:login' %}" class="header-item">Log In</a>
        <a href="{% url 'uplink:signup' %}" class="header-item">Sign Up</a>
        {% endif %}
      </header>
      <main>{% block body %} {% endblock %}</main>
      <footer>
        <p>&copy; Uplink 2024</p>
      </footer>
    </div>
  </body>
</html>
