{% extends "login-layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block body %}
<div class="lead">
    <h2>Welcome back</h2>
    <p>Log in to your account</p>
</div>
{% if message %}
<div class="errorlist"><span>{{ message }}</span></div>
{% endif %}
<div>
    <form action="{% url 'uplink:login' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </p>
        <button type="submit">Log in</button>
    </form>
</div>
<div class="footer">
    <p>Don't have an account? <a href="{% url 'uplink:signup' %}">Sign up</a></p>
</div>
{% endblock %}