{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block body %}

<h2>Manage Links</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="add-link">Add Link</button>
</form>
{% if links %}
<h2>Existing Links</h2>
<ul>
{% for link in links %}
    <li>
        <form method="post">
            {% csrf_token %}
            <a href="{{ link.url }}">{{ link.title }}</a>
            <button type="submit" name="delete-link" value="{{ link.id }}">Delete</button>
        </form>
    </li>
{% endfor %}
</ul>
{% endif %}

<a href="{% url 'uplink:account' %}">Back</a>
{% endblock %}