{% extends "layout.html" %}
{% load static %}

{% block title %}
{{ name }}
{% endblock %}

{% block stylesheet %}
<link href="{% static 'styles/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="profile-top-container">
    <div class="share-button" data-link="{{ name }}">Share</div>
</div>
<div class="profile-container">
    <div class="profile-info">
        <img class="profile-picture" src="{% static 'images/user.jpg' %}" alt="{{ name }} avatar"/>
        <h2>@{{ name }}</h2>
        {% if profile %}
        {% if profile.location %}
            <span>&#128205;{{ profile.location }}</span>
        {% endif %}
        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% endif %}
    {% else %}
        <span>No profile information yet.</span>
    {% endif %}
    </div>
    {% for link in links %}
    <a class="tile" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
        <p>{{ link.title }}</p>
    </a>
    {% empty %}
    <p>No links yet.</p>
    {% endfor %}
</div>
<script src="{% static 'js/share.js' %}"></script>
{% endblock %}