.container {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

main {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2rem;
  gap: 2rem;

  background-color: var(--bg-white);

  @media screen and (min-width: 992px) {
    padding: 3rem;
  }
}

/*  */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: var(--light-blue);
  border-radius: 1.5rem;
  font-size: 1rem;
}

.welcome > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding: 0 1rem;
  gap: 1rem;
  width: 100%;

  @media screen and (min-width: 992px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.welcome > div > span:first-child {
  margin-right: 0;

  @media screen and (min-width: 992px) {
    margin-right: auto;
  }
}

.welcome .share-button {
  background-color: var(--bg-white);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.welcome .share-button:hover,
button:hover {
  background-color: var(--light-black);
  color: var(--bg-white);
  transition: 0.2s;
}

/*  */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 1rem;
  border-top: 1px solid var(--blue);
}

/*  */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  padding: 2rem 1rem;
  gap: 1rem;
}

.card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card .info h3 {
  font-size: 1.5rem;
}

.card .info span {
  font-size: 0.8rem;
  color: var(--text-gray);
}

/*  */

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 250px;
}

form > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

form input {
  padding: 1rem;
  border: 1px solid var(--blue);
  width: 100%;
  border-radius: 10px;
  font-size: 1.1rem;
}

form button {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: var(--blue);
  color: var(--bg-white);
  cursor: pointer;
}

/*  */

li > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

li > form > button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--danger);
  width: 100px;
}

/*  */

ul > li {
  font-size: 0.75rem;
  color: var(--text-gray);
  text-align: left;
}

.helptext {
  font-size: 0.75rem;
  color: var(--text-gray);
}

.errorlist > *::before {
  content: "âŒ ";
  display: inline;
}
