.container {
  min-height: 100dvh;
  display: flex;

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 2rem;
  gap: 2rem;

  background-color: var(--bg-white);

  @media screen and (min-width: 992px) {
    padding: 3rem;
  }
}

.side {
  overflow: hidden;
  display: none;

  @media screen and (min-width: 992px) {
    width: calc(100vw - 48%);
    display: block;
  }
}

.side img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4rem;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-bottom: 2px solid var(--blue);
}

.lead h2 {
  font-size: 3rem;
}

.lead p {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

form > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  @media screen and (min-width: 992px) {
    min-width: 500px;
  }
}

form input {
  padding: 1rem;
  border: 1px solid var(--blue);
  width: 100%;
  border-radius: 10px;
  font-size: 1.2rem;
}

form input:focus {
  outline: none;
  border: 2px solid var(--light-black);
}

form button {
  width: 100%;
  border: none;
  border-radius: 4rem;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--blue);
  color: var(--bg-white);
  cursor: pointer;
}

form button:hover {
  background-color: var(--light-black);
  transition: 0.2s;
}

.footer {
    text-align: center;
    margin-top: 2rem;
}

.footer a {
    color: var(--blue);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--light-black);
}

/*  */

ul > li {
  font-size: 0.75rem;
  color: var(--text-gray);
  text-align: left;
}

.helptext {
  font-size: 0.75rem;
  color: var(--text-gray);
}

.errorlist > *::before {
  content: "âŒ ";
  display: inline;
}