.profile-top-container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.share-button {
    cursor: pointer;
}

.profile-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    mix-blend-mode: multiply;
}

.tile {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
    text-align: center;
    padding: 1rem 1.5rem;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}

.profile-info > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.profile-info > .profile-picture {
    height: 100%;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    margin-bottom: 1rem;
}